@model IEnumerable<OracleConnectivity.Models.EMP>

@{
    ViewBag.Title = "EmpDetails";
}

<h2>EmpDetails</h2>

<p>
    @Html.ActionLink("Create New", "AddEmployee") ||
    @Html.ActionLink("View SQL Server Data", "ViewSqlServerData") ||
    @Html.ActionLink("Transfer Data To SQL Server", "SendDataToSqlServer") 



</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIREDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTNO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIREDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTNO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EMPNO }, null) |        
            @Html.ActionLink("Details", "Details", new { id = item.EMPNO }, null) |
            @Html.ActionLink("Delete", "DeleteEmp", new { id = item.EMPNO }, null)
        </td>
    </tr>
}

</table>
